body p {
  font-family: "Roboto", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Pompiere&family=Roboto:ital,wght@0,400;0,500;1,100;1,400&display=swap");
.card-title {
  font-family: "La Belle Aurore", cursive !important;
  font-family: "Pompiere", cursive !important;
  font-family: "Roboto", sans-serif;
}

#post-info {
  display: grid;
  grid-template-columns: 1fr;
}
i {
  padding-right: 1rem;
  padding-top: 0.6rem;
  font-size: 2rem;
  cursor: pointer;
}
